@import "./variables";

table.BooksList {
  border-collapse: collapse;

  th {
    border-bottom: 3px solid black;
  }

  tr:nth-child(2n) {
    background-color: $grey;
  }

  tr.Highlight {
    background-color: $highlight;
  }

  td {
    padding: 5px 10px;
  }

}